{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"quoteProps": "preserve",
	"trailingComma": "es5",
	"bracketSpacing": true,
	"arrowParens": "avoid",
	"endOfLine": "auto",
	"vueIndentScriptAndStyle": true
}
